@import "tailwindcss";

body {
  @apply bg-gradient-to-br from-indigo-100 via-white to-pink-100 min-h-screen font-sans text-gray-800;
}

button:disabled {
  @apply opacity-50 cursor-not-allowed;
}

@keyframes blob {
  0%,
  100% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
}

.animate-blob {
  animation: blob 8s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}
